$color-white: #fff;
$color-black: #000;
$color1: #e9b67b;
$color2: #db8725;
$color3: #2c2c2d;
$color4: #242837;
$color5: #232736;
$color6: #191919;
$color7: #ebebeb;
$color8: #ced4da;
$color9: #696a6c;
$color10: #c9c9c9;
$color11: #0d6efd;
$color12: #e5e3e3;












